goapp=`which goapp 2>&1`
if [[ ! "${?}" = "0" ]]; then
  echo "Need to install `goapp` to execute this script."
  exit 127
fi
GOAPPROOT="`dirname $goapp`/goroot"

export ORIGGOROOT="${GOROOT}"
export GOROOT="${GOAPPROOT}"
export GOPATH="`pwd`/_vendor":"`pwd`"
